<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Главная страница</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <div class="p-3 mb-2 text-white">
            <h1 class="text-center">Загрузка видео</h1>
            <form method="POST" action="" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="formFile" class="form-label">Выберите ваше видео:</label>
                    <input class="form-control" type="file" id="formFile">
                </div>
                <p><input type="submit" class="btn btn-light btn-sm" value="Обработать"></p>
                <a href="/video" class="btn btn-light btn-sm">Обработанное видео</a>
            </form>          
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        </div>
    </body>
</html>